name: Deploy to Production

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Set up Pnpm
        uses: pnpm/action-setup@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Clear Pulumi plugins cache
        run: rm -rf ~/.pulumi/plugins

      - name: Install sst
        run: pnpm sst install

      - name: Run linter
        run: pnpm check
        continue-on-error: true

      - name: Run type check
        run: |
          cp .env.example .env.local
          pnpm typecheck

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Run database migrations
        run: pnpm sst shell --stage prod -- drizzle-kit migrate --config=packages/domain/drizzle.config.ts

      - name: Deploy to production
        run: pnpm sst deploy --stage prod
